
.panelcode{
    width: 50%;
    padding-left: 20px;
}

.CodeMirror{
    height: calc(100vh - 54px);
    width: 100%;
}

@media screen and ( max-width: 768px ) {
    .panelcode{
        width: 100%;
        padding-right: 20px;
    }

    .CodeMirror{
        height: 50vh;

    }
}

@media screen and ( max-width: 300px ) {
    .panelcode{
        margin-top: 50px;
    }
}